.container {
  width: 95%;
  max-width: 1480px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.page {
  &__header {
    padding: 32px 0;
  }
}

#app-nav-menu {
  padding: 16px 0;
  display: flex;

  .app-title {
    font-size: 2rem;
    color: black;
    text-decoration: none;
  }
}

.pagination {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keywords-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  li {
    margin: 5px;
  }
}

.pagination {
  &__item {
    align-items: stretch !important;
    padding: 0 !important;
    button {
      border: none;
      background: transparent;
      box-shadow: none;
      display: block;
      padding: 0.92857143em 1.14285714em;
    }
  }
}

.bookmark-url-cell {
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
    max-width: 70px !important;
  }
}

.actions-table-cell {
  .button {
    + .button {
      margin-top: 10px;
    }
  }
}

.bookmark--in-modify-page {
  display: flex;

  > *:first-child {
    margin: 0 20px 20px 0;
  }
}
